*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh; 
}
   
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: tan;
    color: #333;
   }
   

h1{
    background-color: #333;
    text-align: center;
    padding: 1.5rem;
    color: #fff;
}
.description{
text-align: center;
padding: 1.5rem;
font-weight: bolder;
color: #333;
}

label{
    text-align: center;
    font-weight: bolder;
}

input , button{
    padding: 0.5rem;
    margin :0.5rem  
}

.container{
    display: flex;
    flex-direction: column;  
    width: 80vw;
    padding-left: 15rem;
 
}

.change-table, td ,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 1.5rem;
    font-weight: bolder;
}

